<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>camel路由</title>
    <div th:replace="include/_head :: head"></div>
</head>
<body>
<div class="container-fluid" style="margin-top: 2%">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-offset-11">
            <a class="btn btn-success" type="button" th:href= "@{/}">首页</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr class="success">
                        <th width="5%">序号</th>
                        <th>路由id</th>
                        <th>路由状态</th>
                        <th>路由描述</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="camelRoute : ${camelRouteList}">
                        <td th:text="${camelRouteStat.count}"></td>
                        <td th:text="${camelRoute.routeId}"></td>
                        <td th:text="${camelRoute.status}"></td>
                        <td th:text="${camelRoute.description}"></td>
                        <td th:text="${#dates.format(camelRoute.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                        <td>
                            <button class="btn btn-success" th:onclick="'camelRouteTrigger(\''+${camelRoute.routeId}+'\');'">Trigger</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">

    $(document).ready(function () {

    })

    function refresh() {
        window.location = ctx + "/camelRouteList";
    }


    function camelRouteTrigger(routeId) {
        layer.confirm('确认触发路由状态切换？', {
            btn: ['确认','取消']
        }, function(){
            $.ajax({
                type: "post",
                url: ctx + "/camel/camelRoute/update",
                dataType: "text",
                async: false,
                data: {
                    routeId: routeId
                },
                success: function (data) {
                    refresh();
                },
                error: function (err) {
                }
            });
        }, function(){

        });
    }


</script>
</body>
</html>