<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>系统配置文件查看</title>
    <div th:replace="include/_head :: head"></div>
</head>
<body>
<div class="container-fluid" style="margin-top: 2%">
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-offset-11">
            <a class="btn btn-success" type="button" th:href= "@{/}">首页</a>
        </div>
    </div>
    <div class="row" style="margin-top: 10px;" th:each="configFile: ${configFileList}">
        <label th:text="${configFile.name}"></label>
        <br/>
        <br/>
        <textarea class="form-control" th:text="${configFile.content}" id="content" onfocus="autoSize(this)"></textarea>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $(function(){
        $("#content").focus();
    });

    // 自动展开textarea
    function autoSize(obj) {
        var el = obj;
        setTimeout(function() {
            el.style.cssText = 'height:auto; padding:0';
            el.style.cssText = 'height:' + el.scrollHeight + 'px';
        }, 0);
    }
</script>
</body>
</html>